* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
}

#circle {
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  background: rgb(126, 79, 255);
  border-radius: 100px;
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  user-select: none;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 2s;
}

.hover {
  transform: scale(3);
}

.click {
    transform: scale(1);
}
